---
import ProjectCard from "./projectCard.astro";
import wordleaiImg from "../../assets/wordleai.png";
import squarescapeImg from "../../assets/squarescape.jpg";
import battleShipImg from "../../assets/battleship.png";
import blackjackImg from "../../assets/blackjack.png";

const projects = [
  {
    title: "Wordle AI",
    description:
      "A high-performance Node.js service connecting local Ollama instances to Chatwoot webhooks. Features request queuing, token-usage monitoring, and automated response streaming.",
    link: "https://mateo.elizeche.com/wordle/",
    imageUrl: wordleaiImg.src,
    tags: ["Python", "React", "Flask", "Docker"],
  },
  {
    title: "SquareScape",
    description:
      "A puzzle-platformer for GMTK Game Jam 2024, ranking in the top 8% of 7,576 entries.",
    link: "https://juanma-099.itch.io/squarescape",
    imageUrl: squarescapeImg.src,
    tags: ["Unity", "C#", "GameDev"],
  },
  {
    title: "Battleship Game",
    description:
      "A desktop multiplayer implementation of the classic Battleship game, allowing players to challenge each other over a local network.",
    link: "https://github.com/juanma09/BattleshipSFML",
    imageUrl: battleShipImg.src,
    tags: ["C++", "SFML", "GAMEDEV", "UDP", "TCP"],
  },
  {
    title: "Blackjack Game",
    description:
      "A networked implementation of the classic casino game featuring a dedicated server and client. It exposes an HTTP API to manage betting, real-time move validation, and game state synchronization between the player and dealer.",
    link: "https://github.com/juanma09/blackJackWebsite",
    imageUrl: blackjackImg.src,
    tags: ["Java", "NodeJS", "API Design", "REST", "Networking"],
  },
];
---

<section id="projects" class="w-full">
  <div class="mb-10 space-y-4">
    <h2 class="text-3xl md:text-4xl font-bold tracking-tighter text-white">
      Projects
    </h2>
    <div class="h-1.5 w-15 bg-emerald-500 rounded-full"></div>
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-12 lg:gap-10 lg:gap-y-16"
  >
    {projects.map((project) => <ProjectCard {...project} />)}
  </div>

  <div
    class="mt-12 h-[2px] w-full bg-gradient-to-r from-zinc-800 to-transparent"
  >
  </div>
</section>
