---
import BaseLayout from "../layouts/BaseLayout.astro";
import NameHeader from "../components/NameHeader.astro";
import Skills from "../components/skills/Skills.astro";
import Projects from "../components/projects/Projects.astro";
import Experience from "../components/experience/Experience.astro";
import Chessboard from "../components/chess/Chessboard";
import LayoutSection from "../layouts/LayoutSection.astro";

import "../styles/global.css";
import StravaSummary from "../components/strava/stravaSummary.astro";
import WakaTime from "../components/wakatime/WakaTime.astro";
---

<BaseLayout>
    <NameHeader />

    <LayoutSection>
        <div slot="main">
            <Experience />
        </div>
        <div slot="sidebar" class="mt-2 lg:mt-[88px]">
            <WakaTime />
        </div>
    </LayoutSection>

    <LayoutSection reverse={true}>
        <div slot="main">
            <Projects />
        </div>
        <div slot="sidebar" class="mt-2 lg:mt-[88px]">
            <div class="flex justify-center lg:justify-start">
                <Chessboard client:visible />
            </div>
        </div>
    </LayoutSection>

    <Skills />
    <!-- <LayoutSection>
        <div slot="main">
        </div>
        <div slot="sidebar" class="mt-2 lg:mt-[88px]">
            <p
                class="text-[10px] font-mono uppercase tracking-[0.2em] text-emerald-500 font-bold mb-4 ml-1"
            >
                Latest Run
            </p>
            <StravaSummary />
        </div>
    </LayoutSection> -->
</BaseLayout>
