---
import NavBar from "../components/NavBar.astro";
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body class="flex flex-col bg-black text-white no-scrollbar">
        <!-- <NavBar /> -->
        <main>
            <slot />
        </main>
    </body>

    <style>
        body {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
            background: radial-gradient(
                circle at 50% -20%,
                #00120f 0%,
                #000000 100%
            );
            background-attachment: fixed;
        }

        body::-webkit-scrollbar {
            display: none;
        }
    </style>
</html>
